<div class ="games-list">
  <h2>Available Games</h2>
    <div class="card-columns">
      <% @games.reverse.each do |game| %>
        <div class="card text-center border-dark mb-3">
          <%=image_tag Dir.new(Rails.root.to_s + "/app/assets/chess_pics").to_a.select{|c| c.downcase.match(/\.jpg|\.jpeg|\.png/) }.sample, class: "card-img-top" %>
          <div class="card-body">
           <h4><%= game.game_name %></h4>
           <h6>Created By: <%= game.white_player.username %></h6>
           <br/>
           <%= link_to 'Join Game', game_path(game), class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<%= will_paginate @games, class: '.flickr_pagination' %>

    
