<!DOCTYPE html>
<html>
  <head>
    <title>ChessMates</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,900|Heebo:900|Lato:300i|Montserrat:300i" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%=link_to 'CHESSMATES', root_path, class: 'navbar-brand' %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse ml-auto w-100 justify-content-end text-white bg-dark" id="navbarSupportedContent">
        <% if current_user %>
          Hello, <%= current_user.username %>!&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Create Game', new_game_path %>
          <%= link_to 'Find Games', games_path %>
          <%= link_to 'Sign Out', destroy_user_session_path, class: "btn btn-danger", method: :delete %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: "btn btn-primary" %>&nbsp;&nbsp; or &nbsp;&nbsp;
          <br/>
          <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <br /><br /><br /><br />

  </body>
</html>
